.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    cursor: pointer;
    padding-bottom: 30px;

}

.link__contact{
    text-decoration: none;
}

.icon__contact{
    text-decoration: none;
    background-color: var(--laranja);
    padding: 22px;
    border-radius: 50%;
    color: var(--azul-escuro);
    font-size: 30px;
}

.title__contact{
    margin-top: 10px;
    color: var(--branco);
    font-size: 13px;
}