.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    cursor: pointer;
    padding-bottom: 30px;
    flex-direction: row-reverse;

}

.link__contact{
    text-decoration: none;
    transition: 0.5s;
}

.link__contact:hover{
    transform: scale(0.85);
}

.icon__contact{
    text-decoration: none;
    background-color: var(--laranja);
    padding: 22px;
    border-radius: 50%;
    color: var(--azul-escuro);
    font-size: 30px;
}




