.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.header__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-escuro);
    border-bottom: 2px solid var(--azul-claro);
    padding: 20px 25px;
}

.header__menu{
    text-decoration: none;
    color: var(--laranja);
    font-size: 25px;
}

.header__title{
    font-size: 33px;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
}

.header__icons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.icon__item{
    color: var(--laranja);
    font-size: 20px;
}
