.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .header__container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: var(--azul-escuro);
        border-bottom: 2px solid var(--azul-claro);
        padding: 20px 25px;

        .header__menu{
            text-decoration: none;
            color: var(--laranja);
            font-size: 25px;
        }
        
        .header__title{
            font-size: 33px;
            color: var(--branco);
            font-weight: 500;
            text-decoration: none;
        }
        
        .header__icons{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .icon__item{
                color: var(--laranja);
                font-size: 25px;
            }
        }
    }
    .header__nav-bar{
        position: relative;
        top: 0;
        left: 0;
        width: 60%;
        height: 100vh;
        background: var(--gradiente-navbar);
        transition: all 2s;
        display: none;

        ul{
            list-style: none;
            padding: 20px 5px 20px 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .nav-bar__item{
                color: var(--branco);
                font-size: 28px;
            }
        }
    }

}


@media screen and (min-width: 1025px){
    .header__container{
        padding: 25px 40px;

        .header__menu{
            font-size: 22px;
        }
    
        .header__title{
            font-size: 30px;
        }

        .header__icons{
            .icon__item{
                font-size: 22px;
                transition: 0.5s;
            }
        
            .icon__item:hover{
                color: var(--branco);
            }
        }
    }
}
