.projects__container{
    .projects{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .project__information{
            font-size: 35px;
            color: var(--laranja);
            margin-top: 15px;

            animation-name: scale;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}

//ANIMAÇÃO
@keyframes scale {
    to{
        transform: scale(1.2);
    }
}